@import url("../node_modules/@angular/material/prebuilt-themes/pink-bluegrey.css");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

#mainContent{
    height: calc(100vh - 64px);
}